# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\DevWork\PH_Probe\PH_Probe_Client\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
